@page "/access-denied"

<div class="row">

    <div class="col-12">

        <div class="card">

            <div class="card-body flex-column">

                <div class="text-center">

                </div>

                <div class="text-center mt-2">

                    <span class="text-danger fw-bold">
                        You don't have permission to access this page.
                    </span>

                </div>

                <div class="text-center mt-3">

                    <a href="/" class="btn btn-primary">
                        Go Back Home
                    </a>

                </div>

            </div>

        </div>

    </div>

</div>